*{
    /* box-sizing: border-box; */
}

.container{
    height: 300px;
    width: 100%;
    border: 1px solid red;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.box{
    height: 100px;
    border: 2px solid black;
    width: 100px;
}