*{
    box-sizing: border-box;
}

.container{
    border: 4px solid lightgray;
    padding: 24px 24px 0 24px;
    /* another way to center */
    /* display: flex;
    justify-content: center; */
}

.box{
    border: 3px solid lightcoral;
    height: 100px;
    width: 30%;
    padding-bottom: 30%;
    margin-bottom: 10px;
    
}

.title{
    border: 2px solid lightgray;
    width: 100%;
    height: 24px;
    margin-bottom: 20px;
}

.box-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.row{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    
}